<!--Copyright (c) 2021 by Jeff Thomas (https://codepen.io/aecend/pen/JoLzqr)-->

<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-">

    <link rel="stylesheet" href="/css/home/register.css">

    <script src="/js/home/register.js" defer></script>
    <title>Document</title>
</head>
<body>
<div class="background-wrap">
    <div class="background"></div>
</div>

<form id="accesspanel">
    <h1 id="litheader">YS SITE</h1>
    <div class="inset">
        <p>
            <input id="id" type="text" placeholder="ID" autocomplete="off">
        </p>
        <p>
            <input id="name" type="text" placeholder="NAME" autocomplete="off">
        </p>
        <p>
            <input id="password" type="password" placeholder="PASSWORD"
                   autocomplete="off">
        </p>
        <p>
            <input id="confirm-password" type="password" placeholder="CONFIRM PASSWORD"
                   autocomplete="off">
        </p>
        <input class="loginLoginValue" type="hidden" value="login"/>
    </div>

    <div style="text-align: center;" class="message">
        <label>
            Already Registered?
            <a href="/login">Login with an Account</a>
        </label>
    </div>

    <p class="p-container">
        <br>
        <input id="registerBtn" type="submit" value="Confirm">
    </p>
</form>
</body>